/SVC2004_Online/
/featureVectors.xlsx
/.idea
*.txt
Drónadatok.ipynb
testEnv.ipynb
.ipynb_checkpoints
/learning_rate_test
/learning_rate_tuning
/learning_rate_tuning_final
/learning_rate_tuning_final_10k_epochs
/learning_rate_tuning_test
/runs
/SVC2004_Online
/tuner_runs
/first_full
/kt_rs
/.ipynb_checkpoints